/.git
/.idea
/prototype
*/__pycache__
*pyc
/venv
/data
/pymaldiproc.egg-info
/file_system_backend
geckodriver.exe
chromedriver.exe
msedgedriver.exe
/build
/dist
/__pycache__
/pymaldiviz/file_system_backend