pyteomics
lxml
numpy
pandas
matplotlib
scipy
PyMassSpec
pyMSpec
pybaselines
BaselineRemoval
dash
dash-extensions
dash-bootstrap-components
plotly
git+https://github.com/mars20/icoshift.git
git+https://github.com/gtluu/pyTDFSDK.git