numpy
pandas
pyteomics
scipy
pyMSpec
pybaselines
BaselineRemoval
seaborn
matplotlib
plotly
plotly-resampler
dash
dash-extensions
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
pywebview
blinker
bottle
cachelib
certifi
cffi
charset-normalizer
click
clr-loader
colorama
contourpy
cycler
dataclass-wizard
editorconfig
flask
flask-caching
fonttools
idna
importlib-metadata
itsdangerous
jinja2
joblib
jsbeautifier
kiwisolver
lxml
markupsafe
more-itertools
msalign
nest-asyncio
orjson
packaging
pillow
proxy-tools
pycparser
pyparsing
python-dateutil
pythonnet
pytz
requests
retrying
scikit-learn
setuptools
six
tenacity
threadpoolctl
tsdownsample
typing-extensions
tzdata
urllib3
werkzeug
zipp
altgraph
pefile
pyinstaller
pyinstaller-hooks-contrib
pywin32-ctypes
pyopenms
imageio
lazy-loader
networkx
scikit-image
tifffile
git+https://github.com/gtluu/pyTDFSDK.git