ansi2html==1.9.1
BaselineRemoval==0.1.5
biopython==1.83
blinker==1.7.0
cachelib==0.9.0
certifi==2023.11.17
cftime==1.6.3
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
dash==2.14.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-extensions==1.0.4
dash-html-components==2.0.0
dash-table==5.0.0
dataclass-wizard==0.22.3
deprecation==2.1.0
domdf-python-tools==3.8.0.post2
EditorConfig==0.12.3
enum-tools==0.11.0
et-xmlfile==1.1.0
Flask==2.3.3
Flask-Caching==2.0.2
fonttools==4.47.2
icoshift @ git+https://github.com/mars20/icoshift.git@bfafd7438503aecab0d557f9e22c96433a112391
idna==3.6
importlib-metadata==7.0.1
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
jsbeautifier==1.14.11
kiwisolver==1.4.5
lxml==4.9.3
MarkupSafe==2.1.4
matplotlib==3.8.0
more-itertools==9.1.0
natsort==8.4.0
nest-asyncio==1.6.0
netCDF4==1.6.5
numpy==1.26.4
openpyxl==3.1.2
orjson==3.10.0
packaging==23.2
pandas==2.1.2
pillow==10.2.0
plotly==5.18.0
plotly-resampler==0.10.0
pybaselines==1.0.0
Pygments==2.17.2
pymaldiproc @ git+https://github.com/gtluu/pymaldiproc@493a5b8ba4c844e680660b8ae7a8083a3e52f8bb
PyMassSpec==2.3.0
pyMSpec==0.1.2
pymzml==2.5.2
pyparsing==3.1.1
pyTDFSDK @ git+https://github.com/gtluu/pyTDFSDK.git@e44d8c05f7cf4d67d35b195f62d4e4d9704f5aa8
pyteomics==4.6.3
python-dateutil==2.8.2
pytz==2023.4
regex==2023.12.25
requests==2.31.0
retrying==1.3.4
scikit-learn==1.4.0
scipy==1.11.3
sdjson==0.4.0
seaborn==0.13.2
six==1.16.0
tenacity==8.2.3
threadpoolctl==3.2.0
tsdownsample==0.1.3
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
Werkzeug==3.0.1
zipp==3.17.0
