pyteomics==4.6.3
lxml==4.9.3
numpy==1.23.2
pandas==2.1.2
matplotlib==3.8.0
scipy==1.11.3
PyMassSpec==2.3.0
pyMSpec==0.1.2
pybaselines==1.0.0
BaselineRemoval==0.1.5
dash==2.14.1
dash-extensions==1.0.4
dash-bootstrap-components==1.5.0
plotly==5.18.0
git+https://github.com/mars20/icoshift.git
git+https://github.com/gtluu/pyTDFSDK.git@e44d8c05f7cf4d67d35b195f62d4e4d9704f5aa8